* {
  box-sizing: border-box;
}

body, html {
  color: #333;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #225ca3;
  font-weight: bold;
  text-decoration: none;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 1%;
  transition: background-color .1s;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: .5%;
}

textarea:focus, input:focus {
  border: 1px solid #3486eb;
  outline: none;
}

textarea {
  min-height: 100px;
  min-width: 40%;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100%;
  width: 100%;
}

header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  color: #225ca3;
  cursor: pointer;
  font-size: 100%;
  font-weight: bold;
  margin-left: 16px;
  padding: 0;
  text-decoration: none;
  transition: color .1s;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  line-height: 150%;
  margin-bottom: 2%;
}

.post .title span {
  color: #7d7d7d;
  font-size: 90%;
  font-style: italic;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  margin-bottom: 1%;
  padding: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  font-size: 110%;
  justify-content: center;
  padding: 1%;
}